{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-recess-order",
		"stylelint-config-standard-scss"
	],
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"mixin",
					"extend",
					"content",
					"include"
				]
			}
		],
		"custom-property-pattern": null,
		"indentation": "tab",
		"no-descending-specificity": null,
		"function-url-quotes": "always",
		"string-quotes": "single",
		"unit-case": null,
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"rule-empty-line-before": "never",
		"font-family-no-missing-generic-family-keyword": null,
		"block-opening-brace-space-before": "always",
		"property-no-unknown": null,
		"no-empty-source": null,
		"function-calc-no-unspaced-operator": true,
		"selector-pseudo-class-no-unknown": [
			true,
			{
				"ignorePseudoClasses": [
					"deep"
				]
			}
		]
	}
}