doctype html 
head
	meta(charset='UTF-8')
	link(rel="stylesheet", href="components/style/css/main.css")
	link(rel="stylesheet", href="components/style/css/icon.css")
	title Listen X
body
	script(src='components/script/test.js')
	script(src='components/script/main.js')
	script(src='components/script/tool-lib/helper.js')
	script(src='components/script/tool-lib/crypto-js.min.js')
	script(src="components/script/storage.js") 
	include components/pug/player/player.pug
	include components/pug/pages/side-panel.pug
	lx-side-panel
	lx-player(lyric-mode='false')
	script(src='components/script/provider/netease.js')
	