doctype html 
head
	meta(charset='UTF-8')
	link(rel="stylesheet", href="components/style/css/main.css")
	link(rel="stylesheet", href="components/style/css/icon.css")
	title Listen X
body
	script(defer src='components/script/main.js')
	script(defer src='components/script/tool-lib/helper.js')
	script(defer src='components/script/tool-lib/crypto-js.min.js')
	include components/pug/player/player.pug
	lx-player(lyric-mode='true')
	script(defer src='components/script/test.js')
	script(defer src='components/script/provider/netease.js')
	