doctype html 
head
	meta(charset='UTF-8')
	link(rel="stylesheet", href="components/style/css/main.css")
	link(rel="stylesheet", href="components/style/css/icon.css")
	title Listen X
	link(rel="stylesheet", href="components/style/css/music-list.css")
body
	script(src='components/script/test.js')
	script(src='components/script/main.js')
	script(src='components/script/utils/utils.js')
	script(src='components/script/utils/crypto-js.js')
	script(src='components/script/storage.js')
	script(src='components/script/music-list.js') 
	include components/pug/player/player.pug
	include components/pug/pages/side-panel.pug
	lx-side-panel(open='true')
	lx-player(lyric-mode='false')
	div.background#player-background
	script(src='components/script/provider/netease.js')
	script(src='components/script/provider/qq.js') 
	