doctype html 
head
	meta(charset='UTF-8')
	link(rel="stylesheet", href="components/style/css/main.css")
body
	include components/pug/player/player.pug
	lx-player
	script(src='components/script/test.js')