template(id='template-explore')
	header.page-header
		h1  探索
		form.search
			input.searchText(placeholder="输入歌曲名")
			button.searchTrigger
	nav
		// .nav-item.[provider] provider
	.page-contents
	link(rel='stylesheet', href='components/style/css/pages/explore.css')

script(defer src='components/script/pages/explore.js')