template(id='template-playlists')
	style.
		h1 {
			text-align: center;
			font-family: fabric;
		}
		h2 {
			text-align: center;
		}
	h1 î¦
	h2 Playlists
	link(rel='stylesheet', href='components/style/css/pages/playlists.css')

script(defer src='components/script/pages/playlists.js')