template(id='template-playlists')
	header.page-header
		h1  播放列表
	nav
		.nav-item.favorite(focus) 收藏
		//- .nav-item user-playlists
		.nav-item.add +
	.page-contents
		.page-content.playlist-favorite(visible)
		//- .page-content .playlist-user
		.page-content .action-add
	link(rel='stylesheet', href='components/style/css/pages/playlists.css')

script(defer src='components/script/pages/playlists.js')