template(id='template-recommend')
	header.page-header
		h1  推荐
	nav
		// .nav-item.[provider] provider
	.page-contents
	link(rel='stylesheet', href='components/style/css/pages/recommend.css')

script(defer src='components/script/pages/recommend.js')