template(id='template-settings')
	style.
		h1 {
			text-align: center;
			font-family: fabric;
		}
		h2 {
			text-align: center;
		}
	h1 
	h2 Settings
	link(rel='stylesheet', href='components/style/css/pages/settings.css')

script(defer src='components/script/pages/settings.js')