include ./my-music.pug
include ./explore.pug
include ./playlists.pug
include ./recommend.pug
include ./plugins.pug
include ./settings.pug

template(id='template-side-panel')
	#side-panel-title Listen X
	ul#side-panel-list
		li.side-panel-item#spi-my-music(focus)
			.spi-content 我的音乐
			lx-my-music.spi-page
		li.side-panel-item#spi-explore
			.spi-content 探索
			lx-explore.spi-page
		li.side-panel-item#spi-playlists
			.spi-content 播放列表
			lx-playlists.spi-page
		li.side-panel-item#spi-recommend
			.spi-content 推荐
			lx-recommend.spi-page
		//- li.side-panel-item#spi-plugins
		//- 	.spi-content 扩展
		//- 	lx-plugins.spi-page
		//- li.side-panel-item.at-bottom#spi-settings
		//- 	.spi-content 设置
		//- 	lx-settings.spi-page
	link(rel='stylesheet', href='components/style/css/pages/side-panel.css')

script(defer src='components/script/pages/side-panel.js')