#popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 10vh;
  pointer-events: none;
  z-index: 1000;
}
#popup-container .toast {
  /* min-width: 40vw; */
  /* height: 2rem; */
  line-height: 2rem;
  /* text-align: center; */
  font-size: 1rem;
  background-color: rgba(151, 151, 151, 0.3803921569);
  padding: 0 3rem;
  backdrop-filter: blur(5px);
  margin: 5px;
  max-width: 60vw;
  pointer-events: all;
  user-select: text;
  box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11);
  opacity: 0;
  transition: all ease 0.3s;
}
#popup-container .toast.info {
  background-color: rgba(3, 169, 244, 0.4666666667);
}
#popup-container .toast.warning {
  background-color: rgba(255, 235, 59, 0.4666666667);
}
#popup-container .toast.error {
  background-color: rgba(244, 67, 54, 0.4666666667);
}
#popup-container .toast.success {
  background-color: rgba(58, 210, 64, 0.4666666667);
}
#popup-container .popup.dialog {
  z-index: 999;
  pointer-events: all;
  max-width: 45rem;
  min-width: 25rem;
  min-height: 20vh;
  background-color: var(--white);
  border-top: 3px solid var(--themePrimary);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1.2px 14.4px 0 rgba(0, 0, 0, 0.13), 0 6.4px 3.6px 0 rgba(0, 0, 0, 0.11), 0px 0px 1px 100vw rgba(27, 27, 27, 0.4666666667);
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}
#popup-container .popup.dialog .dialog-title {
  font-size: 1.2rem;
  padding: 16px 46px 20px 24px;
  color: var(--themePrimary);
  flex: 0 0;
  font-weight: 600;
}
#popup-container .popup.dialog .dialog-content {
  padding: 0px 24px 16px 24px;
  font-size: 1rem;
  flex: 1 1;
}
#popup-container .popup.dialog .dialog-buttons {
  flex: 0 0;
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#popup-container .popup.dialog button.dialog-button {
  height: 2rem;
  min-width: 5rem;
  margin-left: 4px;
  border: 1px solid transparent;
}
#popup-container .popup.dialog button.dialog-button.button-confirm {
  color: var(--white);
  background-color: var(--themePrimary);
}
#popup-container .popup.dialog button.dialog-button.button-confirm:hover {
  background-color: var(--themeDarkAlt);
}
#popup-container .popup.dialog button.dialog-button.button-confirm:active {
  background-color: var(--themeDark);
}
#popup-container .popup.dialog button.dialog-button.button-cancel {
  border: 1px solid var(--neutralPrimaryAlt);
  background-color: var(--neutralLighterAlt);
}
#popup-container .popup.dialog button.dialog-button.button-cancel:hover {
  background-color: var(--neutralLighter);
}
#popup-container .popup.dialog button.dialog-button.button-cancel:active {
  background-color: var(--neutralLight);
}
#popup-container .popup.dialog.form .dialog-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
#popup-container .popup.dialog.form .form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin: 8px;
  box-sizing: border-box;
  width: 45%;
}
#popup-container .popup.dialog.form .form-item label {
  padding: 5px 0px;
  font-size: 0.9rem;
}
#popup-container .popup.dialog.form .form-item input[type=text] {
  height: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--neutralPrimary);
  /* margin-right: 10px; */
  outline: transparent;
  padding: 5px;
  /* width: 90%; */
  line-height: 1.5rem;
  font-size: 1rem;
}
#popup-container .popup.dialog.form .form-item input[type=text]:focus {
  border: 1px solid var(--themePrimary);
}

/*# sourceMappingURL=popup.css.map */
