nav .nav-item {
    /* display: inline-block; */
    display: inline-flex;
    height: 2rem;
    /* line-height: 2rem; */
    align-items: flex-end;
    justify-content: center;
    min-width: 5rem;
    font-size: 1.2rem;
    color: var(--neutralDark);
}

.page-content-header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 8px 0;
    font-size: 14px;
    color: var(--black);
    transition: all ease 0.2s;
	border-bottom: 1px solid var(--themeLighter);
    cursor: pointer;

	span {
		flex: 1 1 75px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: 5px;
	}

	&::before {
		flex: 0 0 30px;
		font-size: 8px;
		color: var(--neutralPrimaryAlt);
		text-align: center;
		content: '';
		opacity: 0;
		transition: all ease 0.3s;
	}
}

#content-header-item-provider, li.music-list-item  span.music-list-item-provider {
    flex: 0 0;
    flex-basis: unset;
    width: 2rem;
    display: inline-block;
    text-align: center;
    font-size: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid;
    opacity: 0.8;
}
#content-header-item-provider{
	border: none;
	font-size: 14px;
	opacity: 1;
}
#content-header-item-songName{
	flex: 12 12 150px;
}
#content-header-item-duration, li.music-list-item span.music-list-item-duration {
	flex: 1 1 75px;
	text-align: right;
	margin-left: 5px;
}