lx-my-music{
	.page-content-header {
		z-index: 5;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 8px 10px 8px 0;
		font-size: 14px;
		color: var(--black);
		cursor: pointer;

		// width: calc(97.5vw - var(--side-panel-width-wide));;
		// transition: all ease 0.2s;
		background-color: var(--white);
		border-bottom: 1px solid var(--themeLighter);
		span {
			flex: 1 1 75px;
			margin-right: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		&::before {
			flex: 0 0 30px;
			font-size: 8px;
			color: var(--neutralPrimaryAlt);
			text-align: center;
			content: '';
			opacity: 0;
			transition: all ease 0.3s;
		}
	}
}
#content-header-item-provider,
li.music-list-item span.music-list-item-provider {
	display: inline-block;
	flex: 0 0;
	flex-basis: unset;
	width: 2rem;
	margin-right: 0.5rem;
	font-size: 0.5rem;
	text-align: center;
	border: 1px solid;
}
#content-header-item-provider {
	z-index: 10;
	font-size: 14px;
	border: none;
	opacity: 1;
}
#content-header-item-songName {
	flex: 12 12 100px;
}
#content-header-item-duration,
li.music-list-item span.music-list-item-duration {
	flex: 1 1 75px;
	margin-left: 5px;
	text-align: right;
}



// @for $i from 1 through 3 {
// 	.page-content:nth-child(#{$i}) {
// 		transform: ;
// 	}
//   }

// Slide to switch three pages, when switching, the target page slides to the middle. The current page slides to the left or the right according to is the target page is the left or right page.

.page-content {
	display: block;
	opacity: 0;
	pointer-events: none;
	transition: all ease 0.3s;
	position: fixed;
	width: 100%;

	

	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			transform: translateX(-100%);
		}
		&:nth-child(#{$i})[visible=visible] ~ & {
			transform: translateX(100%);
		}
	}
	
	&[visible=visible] {
		opacity: 1;
		transform: none;
		pointer-events: auto;
		display: block;
		position: absolute;
	}
	
}


#albums-collection,#artists-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;

	.artist, .album {
		width: 128px;
		overflow: hidden;
		margin: 10px;
		font-size: 14px;
		line-height: 1.5;
	}

	img {
		width: 128px;
		height: 128px;
	}
	
	.artist {
		padding: 20px;
		box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
	}

	.album-name, .artist-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}




