lx-playlists{
	.page-content-header {
		height: 25vh;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		button {
			background: transparent;
			border: none;
			margin-right: 25px;
			height: 20px;
		}

		.playlist-cover{
			button#playlist-cover-edit {
				position: absolute;
				right: 0;
				margin: 2px;
				bottom: 3px;
				opacity: 0;
			}

			&:hover button#playlist-cover-edit{
				opacity: 1;
			}
		}

	}
	
	.playlist-cover {
		margin: auto 20px;
		position: relative;
	}
	
	img#playlist-cover-img {
		width: 20vh;
		height: 20vh;
		background-color: var(--themeLighter);
		/* margin: auto; */
	}
	
	.playlist-data {
		margin: auto 20px;
		height: 18vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	div#playlist-name {
		font-size: 2rem;
		/* font-weight: 400; */
		line-height: 0.6;
	}
	
}
lx-playlists .page-content {
	// display: block;
	// opacity: 0;
	// pointer-events: none;
	// transition: all ease 0.3s;
	// position: absolute;
	// width: 100%;
	
	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			transform: translateX(-100%);
		}
		&:nth-child(#{$i})[visible=visible] ~ & {
			transform: translateX(100%);
		}
	}

	&[visible=visible] {
		opacity: 1;
		transform: none;
		pointer-events: auto;
		display: block;
	}
	
}