lx-side-panel {
	div#side-panel-title {
		height: 50px;
		font-family: sans-serif;
		font-size: 2rem;
		font-variant: petite-caps;
		line-height: 50px;
		color: var(--white);
		text-align: center;
		text-shadow: 0 1px 1px var(--themePrimary);
		white-space: nowrap;
		opacity: 1;
		transition: all ease 0.3s;
	}
	ul#side-panel-list {
		display: flex;
		flex-flow: column nowrap;
		height: calc(100% - 50px);
		overflow: hidden;
		list-style: none;
		transition: all ease 0.3s;
		.side-panel-item {
			position: relative;
			height: 40px;
			padding-left: 8px;
			color: var(--black);
			border-left: 5px solid transparent;
			transition: all ease 0.3s;
			&:hover {
				background-color: var(--neutralQuaternaryAlt);
			}
		}
		.side-panel-item.at-bottom {
			justify-self: end;
			margin-top: auto;
		}
		.side-panel-item[focus] {
			color: var(--themePrimary);
			border-left: 5px solid var(--themePrimary);
		}
		.spi-content {
			position: absolute;
			display: inline-block;
			font-size: 14px;
			line-height: 40px;
			opacity: 1;
			transition: all ease 0.3s;
		}
	}

	@media screen and (max-width: 768px) {
		width: 40px;
		&[open='true'] {
			width: 200px;
			ul#side-panel-list {
				.spi-content {
					opacity: 1;
				}
			}
		}
		ul#side-panel-list {
			height: 100%;
		}
		div#side-panel-title {
			height: 0;
			opacity: 0;
		}
		ul#side-panel-list {
			.spi-content {
				opacity: 0;
			}
		}
	}
}
lx-side-panel .spi-page {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(99vw - var(--side-panel-width-wide));
	height: calc(100vh - var(--control-panel-height));
	color: #000000;
	pointer-events: none;
	opacity: 0;
	transform: translateY(20%);
	z-index: -1000;

	--focus-offset: 0;
	--focus-width: 80px;
	header.page-header {
		padding-left: 0.6rem;
		h1 {
			font-family: sans-serif, ui-sans-serif, system-ui;
			font-size: 1.5rem;
			font-weight: 100;
			line-height: 2em;
			text-align: left;
			letter-spacing: 0;
		}
	}
	nav {
		position: relative;
		z-index: 5;
		background-color: var(--white);
		border-bottom: 1px solid var(--neutralTertiary);
		.nav-item {
			z-index: 10;

			/* display: inline-block; */
			display: inline-flex;

			/* line-height: 2rem; */
			align-items: flex-end;
			justify-content: center;
			min-width: 5rem;
			height: 2rem;
			font-size: 1.2rem;
			color: var(--neutralDark);
			&[focus] {
				color: var(--themePrimary);
			}
		}
		&::after {
			position: absolute;
			bottom: -1px;
			left: var(--focus-offset);
			width: var(--focus-width);
			height: 2px;
			content: '';
			background-color: var(--themePrimary);
			transition: all ease 0.3s;
		}
	}

	@media screen and (max-width: 768px) {
		width: calc(98vw - var(--side-panel-width-narrow));
	}
}
lx-side-panel li.side-panel-item[focus] .spi-page {
	z-index: -10;
	display: block;
	overflow: auto;
	pointer-events: all;
	user-select: text;
	opacity: 1;
	transition: all ease 0.3s;
	transform: none;
}
