lx-playlists .page-content-header {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
lx-playlists .page-content-header button {
  background: transparent;
  border: none;
  margin-right: 25px;
  height: 20px;
}
lx-playlists .page-content-header .playlist-cover button#playlist-cover-edit {
  position: absolute;
  right: 0;
  margin: 2px;
  bottom: 3px;
  opacity: 0;
}
lx-playlists .page-content-header .playlist-cover:hover button#playlist-cover-edit {
  opacity: 1;
}
lx-playlists .playlist-cover {
  margin: auto 20px;
  position: relative;
}
lx-playlists img#playlist-cover-img {
  width: 20vh;
  height: 20vh;
  background-color: var(--themeLighter);
  /* margin: auto; */
}
lx-playlists .playlist-data {
  margin: auto 20px;
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
lx-playlists div#playlist-name {
  font-size: 2rem;
  /* font-weight: 400; */
  line-height: 0.6;
}

lx-playlists .page-content:nth-child(1) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(1)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(2) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(2)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(3) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(3)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(4) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(4)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(5) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(5)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(6) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(6)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(7) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(7)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(8) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(8)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(9) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(9)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content:nth-child(10) {
  transform: translateX(-100%);
}
lx-playlists .page-content:nth-child(10)[visible=visible] ~ lx-playlists .page-content {
  transform: translateX(100%);
}
lx-playlists .page-content[visible=visible] {
  opacity: 1;
  transform: none;
  pointer-events: auto;
  display: block;
}

/*# sourceMappingURL=playlists.css.map */
