lx-lyric {
	display: none;
	opacity: 0;
}
#lyric-body {
	width: fit-content;
	max-width: 60%;
	height: 80%;
	margin-bottom: 20px;
	margin-left: 20px;
	overflow: auto;
	ul#lyric-list {
		margin-right: 50px;
		font-family: system-ui;
		font-size: 18px;
		font-weight: 300;
		li.lyric-line {
			margin: 15px;
			list-style: none;
		}
		li.lyric-line.highlight {
			font-weight: 600;
			color: var(--neutralPrimary);
		}
	}
}
lx-player[lyric-mode='true'] {
	lx-lyric {
		position: relative;
		display: flex;
		flex: 1 1 100vh;
		grid-area: lx-lyric;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		overflow: auto;
		opacity: 1;
	}
}
