lx-meta-data {
	display: flex;
	flex-direction: row;
	height: var(--control-panel-height);
	overflow: hidden;
	.cover.cover-shortcut {
		width: var(--control-panel-height);
		height: var(--control-panel-height);
		margin-right: 6px;
		background-image: url('../image/microphone.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.text-data {
		max-width: 250px - var(--control-panel-height);
		padding-top: 7px;
		.song-name,
		.artist-name {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.song-name {
			font-size: 16px;
		}
		.artist-name {
			font-size: 12px;
			color: var(--neutralPrimaryAlt);
		}
	}
}
