.cover.cover-shortcut {
	width: var(--control-panel-height);
	height: var(--control-panel-height);
	margin-right: 6px;
	background-color: var(--themePrimary);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.text-data {
	max-width: calc(200px - var(--control-panel-height));
	padding-top: 7px;
	.song-name,
	.artist-name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 3px 8px;
	}
	.song-name {
		font-size: 16px;
	}
	.artist-name {
		font-size: 12px;
		color: var(--neutralPrimaryAlt);
	}
}