lx-meta-data {
	display: flex;
	flex-direction: row;
	height: var(--control-panel-height);
	overflow: hidden;
}
.central-ctrl {
	display: flex;
	flex-basis: 150px;
	flex-flow: column nowrap;
	flex-grow: 1;
}
#progress-ctrl-buttons {
	position: relative;
	top: -10px;
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10px;
	align-items: center;
	justify-content: center;
	height: 36px;
	button {
		color: var(--themePrimary);
		background: transparent;
		border: none;
		outline: none;
		&:hover {
			color: var(--themeDark);
		}
		&:active {
			color: var(--themeDarker);
		}
		&::before {
			font-family: fabric;
			font-size: 22px;
			font-weight: bolder;
		}
	}
	#prev-song,
	#next-song {
		width: 30px;
		height: 30px;
	}
	#play-pause {
		width: 36px;
		height: 36px;
		line-height: 34px;
		text-align: center;
		border: 1px solid var(--themeLighter);
		border-radius: 50px;
		&:hover {
			background-color: var(--themeLighterAlt);
		}
	}
}
#progress-ctrl-buttons {
	& > *::before {
		font-family: fabric;
		font-size: 22px;
		font-weight: bolder;
		cursor: pointer;
	}
	#prev-song::before {
		content: '';
	}
	#next-song::before {
		content: '';
	}
	#play-pause::before {
		position: relative;
		left: -1px;
		font-size: 28px;
		content: '';
	}
	#play-pause[playing='false']::before {
		left: 0;
		content: '';
	}
}
lx-play-ctrl {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	align-items: center;
	justify-content: space-evenly;
	width: max-content;
	height: var(--control-panel-height);
	padding-top: 4px;
	padding-right: 10px;
	overflow: visible;
	font-size: 16px;
	& > * {
		width: 16px;
		height: 16px;
	}
}
