#playing-list-trigger {
	flex: 0 0 16px;

	// transform: translateY(-1px);
	#playing-list-panel {
		position: absolute;
		bottom: 65px;
		left: 50vw;
		width: 80vw;
		max-width: 600px;
		height: 0;
		pointer-events: none;
		box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
		opacity: 0;
		transform: translateX(-50%) translateY(0%);
	}
	div#playing-list-panel-head {
		height: 20px;
		padding: 10px;
		border-bottom: var(--themeTertiary) 1px solid;
		span.plph-summary {
			font-size: 14px;
		}
	}
	ul#playing-list {
		height: 0;
		overflow: hidden;
		list-style: none;
		counter-reset: playing-list-item;
		transition: none;
	}
	li.playing-list-item {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 8px 10px 8px 0;
		font-size: 12px;
		color: var(--black);
		transition: all ease 0.2s;
		cursor: pointer;
		&[odd-even='odd'] {
			background-color: var(--themeLighterAlt);
		}
		&::before {
			flex: 0 0 30px;
			font-size: 8px;
			color: var(--neutralPrimaryAlt);
			text-align: center;
			content: counter(playing-list-item);
			counter-increment: playing-list-item;
			opacity: 0;
			transition: all ease 0.3s;
		}
		span.playing-list-item-name {
			flex: 12 12 150px;
		}
		span.playing-list-item-artists {
			flex: 1 1 75px;
			overflow: hidden;
			text-overflow: ellipsis;

			/* max-width: 75px; */
			white-space: nowrap;
		}
		span.playing-list-item-duration {
			flex: 0 0;
		}
	}
	li.playing-list-item[playing] {
		/* background-color: var(--themeLighter); */
		border: var(--themeLight) 1px solid;
	}
	li.playing-list-item:hover {
		color: var(--neutralPrimary);
		background-color: var(--themeLighter);
		&::before {
			opacity: 1;
		}

		/* box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%); */
	}
	#playing-list-panel[visible='true'] {
		bottom: calc(var(--control-panel-height) - 50px);
		height: 295px;
		padding: 5px 0;
		overflow: visible;
		pointer-events: all;
		opacity: 1;
		transition: all ease 0.3s;
		transform: translateX(-50%) translateY(-20%);
		ul#playing-list {
			height: calc(100% - 40px);
			overflow: auto;
			list-style: none;
		}
	}
}
#play-mode {
	position: relative;
	flex: 0 0 16px;
	user-select: none;
	ul#play-mode-selector-container {
		position: absolute;
		top: -220px;
		left: -300%;
		box-sizing: border-box;
		width: max-content;
		height: 0;
		padding: 0;
		overflow: hidden;
		font-size: 14px;
		color: var(--neutralPrimary);
		list-style: none;
		background-color: var(--white);
		box-shadow: 0 1.2px 14.4px 0 rgb(0 0 0 / 13%), 0 6.4px 3.6px 0 rgb(0 0 0 / 11%);
		opacity: 0;
		transition: height ease 0.2s;
		li.play-mode {
			box-sizing: border-box;
			width: 100%;
			height: 36px;
			padding: 0 15px;
			line-height: 36px;
			transition: all ease 0.2s;
			cursor: pointer;
			&:hover {
				background-color: var(--neutralQuaternary);
			}
			&::before {
				position: relative;
				top: 4px;
				margin-right: 5px;
				color: var(--themePrimary);
			}
		}
		&::after {
			position: absolute;
			bottom: -9px;
			left: calc(50% - 7px);
			width: 20px;
			height: 20px;
			clip-path: polygon(0 100%, 100% 0, 200% 0, 200% 200%, 0 200%);
			content: '';
			background-color: var(--white);
			box-shadow: 4.5px 4px 3.6px 0 rgb(0 0 0 / 11%);
			transform: rotate(45deg);
		}
	}
	ul#play-mode-selector-container[visible='true'] {
		top: -240px;
		height: max-content;
		padding: 5px 0;
		overflow: visible;
		opacity: 1;
		transition: all ease 0.3s;
	}
}
#volume {
	display: flex;
	flex: 0 1 200px;
	flex-flow: row nowrap;
	align-items: center;
	width: max-content;
	#volume-slider-container{
		top: -4px;
		width: 100%;
		transition: 0.3s ease all;
		position: relative;

		@media screen and (max-width: 768px) {
			position: absolute;
			transform: rotateZ(-90deg) translate(35px, -64px)  scaleX(95%);
			height: max-content;
			width: 0;
			padding: 5px 0;
			overflow: hidden;
			background-color: var(--white);
			box-shadow: 0 1.2px 14.4px 0 rgb(0 0 0 / 13%), -3.6px 0px 3.6px 0 rgb(0 0 0 / 11%);
			opacity: 0;
			transition: all ease 0.2s;
			&[visible='true'] {
				height: max-content;
				width: max-content;
				padding: 5px 0;
				overflow: visible;
				opacity: 1;
				transition: all ease 0.3s;
				transform: rotateZ(-90deg) translate(65px, -64px);
				&::after{
					position: absolute;
					left: -6px;
					top: calc(50% - 5px);
					width: 12px;
					height: 12px;
					clip-path: polygon(-100% -100%, 200% 200%,200% 300%, -100% 300%, -200% -100%);
					content: "";
					background-color: var(--white);
					box-shadow: 0px 3px 3.6px 0 rgb(0 0 0 / 11%);
					transform: rotate(45deg);
				}
			}
			input#volume-slider {
				top: -4px;
			}
		}
	}
	input#volume-slider {
		position: relative;
		top: -2px;
		width: 90%;
		margin-left: 5px;
		transition: 0.3s ease all;
		appearance: none;

		@mixin volume-track() {
			width: 100%;
			height: 4px;
			cursor: pointer;
			background: linear-gradient(90deg, var(--themePrimary) var(--present), var(--present), var(--themeLight) 100%);
		}

		@mixin volume-thumb() {
			width: 5px;
			height: 14px;
			margin-top: -5px;
			cursor: pointer;
			background: var(--themePrimary);
			border: 1px solid var(--white);
			border-radius: 0;
			appearance: none;
		}
		&::-webkit-slider-runnable-track { @include volume-track; }
		&::-moz-range-track { @include volume-track; }
		&::-ms-track { @include volume-track; }
		&::-webkit-slider-thumb { @include volume-thumb; }
		&::-moz-range-thumb { @include volume-thumb; }
		&::-ms-thumb { @include volume-thumb; }

	}
}
