lx-meta-data {
	display: flex;
	flex-direction: row;
	height: var(--control-panel-height);
	overflow: hidden;
}

lx-progress-ctrl {
	display: flex;
	flex-basis: 150px;
	flex-flow: column nowrap;
	flex-grow: 1;
}
