template(id='template-lyric')
	.lyric-container
		.lyric-head
			span.lyric-summary
		.lyric-body
			ul.lyric-list
				//- li.lyric-item
				//- 	span.lyric-text
	link(rel='stylesheet', href='components/style/css/player/lyric.css')

script(src='components/script/player/lyric.js')


