template(id='template-meta-data')
	.cover.cover-shortcut
	.text-data
		p.song-name {{song-name}}
		p.artist-name {{artist-name}}

	link(rel='stylesheet', href='components/style/css/player/meta-data.css')

script(defer src='components/script/player/meta-data.js')