include ./meta-data.pug
include ./progress.pug
include ./play-ctrl.pug
include ./lyric.pug

template(id='template-player')
	audio(id='main-palyer')
	lx-lyric(lyric-mode='true')
	lx-meta-data
	lx-progress-ctrl
	#progress-ctrl-buttons
		button#prev-song
		button#play-pause(playing="false")
		button#next-song
	lx-play-ctrl
	link(rel="stylesheet", href="components/style/css/player/player.css")

script(defer src='components/script/player/player.js')