template(id='template-play-ctrl')
	.play-ctrl-button#playing-list-trigger
		#playing-list-panel(visible='false')
			#playing-list-panel-head
				span.plph-summary
			ul#playing-list
	#play-mode
		.play-ctrl-button#play-mode-switcher(play-mode='repeatAll')
		ul.context-menu#play-mode-selector-container(visible='false',title='切换播放模式')
			li.play-mode#play-mode-repeat-all(play-mode='repeatAll') 列表循环
			li.play-mode#play-mode-repeat-one(play-mode='repeatOne') 单曲循环
			li.play-mode#play-mode-play-all(play-mode='playAll') 播放列表
			li.play-mode#play-mode-play-one(play-mode='playOne') 播放单曲
			li.play-mode#play-mode-shuffle(play-mode='shuffle',title='无重复随机') 打乱播放
			li.play-mode#play-mode-random(play-mode='random') 随机播放
	.play-ctrl-button#volume
		#volume-slider-container(visible='false')
			input(name='volume-slider' id='volume-slider' type='range' min='0' max='100' step='1' style='--present: 50%')
	link(rel="stylesheet", href="components/style/css/player/play-ctrl.css")

script(defer src="components/script/player/play-ctrl.js") 