//--------------------------------------------------------------
	Progress related components: progress bar, play toggler
//--------------------------------------------------------------

template(id='template-progress')
	.progress-bar-wrapper 
		.progress-bar#current-time-bar
		.progress-bar#duration-bar
		#progress-slider
	//- .progress-text-wrapper
	p.progress-text#current-time-text --/--
	p.progress-text#duration-text --/--

	link(rel="stylesheet", href="components/style/css/player/progress.css")

script(defer src="components/script/player/progress.js")