// ══════╪══════════════
// ..  	|ᐊ ⏸ ᐅ|  	..
.central-ctrl::before {
	font-family: fabric;
	font-size: 22px;
	font-weight: bolder;
	cursor: pointer;
}

//  |ᐊ
#prev-song::before {
	content: '\e892';
}

//  ᐅ|
#next-song::before {
	content: '\e893';
}

//  ⏸
#play-pause::before {
	position: relative;
	left: -1px;
	font-size: 28px;
	content: '\e769';
}

//  ᐅ
#play-pause[playing='false']::before {
	left: 0;
	content: '\e768';
}

//   ┌────┐
//   │ .. │
//   └─⌵─┘
//  ॱ𝄘 🔁 🔉══════║═════
.play-ctrl-button::before,
li.play-mode::before {
	position: relative;
	top: -2px;
	font-family: fabric;
	font-size: 16px;
	cursor: pointer;
}

//  ॱ𝄘
#playing-list-trigger::before {
	position: relative;
	top: -3px;
	content: '\e93f';
}

//  🔁
#play-mode-switcher[play-mode='repeatAll']::before,
li.play-mode#play-mode-repeat-all::before {
	content: '\e8ee';
}

//  🔂
#play-mode-switcher[play-mode='repeatOne']::before,
li.play-mode#play-mode-repeat-one::before {
	content: '\e8ed';
}

//  ⟶
#play-mode-switcher[play-mode='playAll']::before,
li.play-mode#play-mode-play-all::before {
	content: '\e72a';
}

//  🀱
#play-mode-switcher[play-mode='playOne']::before,
li.play-mode#play-mode-play-one::before {
	content: '㏢';
}

//  🔀
#play-mode-switcher[play-mode='shuffle']::before,
li.play-mode#play-mode-shuffle::before {
	content: '㏠';
}

//  🎲
#play-mode-switcher[play-mode='random']::before,
li.play-mode#play-mode-random::before {
	content: '㏡';
}
#volume {
	&::before {
		left: px;
		font-size: 17px;
		content: '';
	}

	// 🔇
	&[volume='muted']::before {
		content: '\ea85';
		transform: scale(1.05) translateX(-3.7px);
	}

	// 🔈
	&[volume='no']::before {
		content: '\e992';
	}

	// 🔉
	&[volume='low']::before {
		content: '\e993';
	}

	// 🔈𝁒
	&[volume='medium']::before {
		content: '\e994';
	}

	// 🔊
	&[volume='high']::before {
		content: '\e995';
	}
}

// Playing List[n]
// ----------------------------------------------
// ▶ Song Name				artist		duration
li.music-list-item[playing]::before {
	font-family: fabric;
	color: var(--themePrimary);
	content: '';
	opacity: 1;
}

// Listen X
// ┃♫ My Music
//  🧭 Explore
//  ॱ𝄘 Playlists
//  ☆𝍢 Recommend
//  🧩 Plugins
//  
//  ⚙ Settings
#side-panel-list {
	& > *::before {
		position: relative;
		display: inline-block;
		margin-right: 6px;
		font-family: fabric;
		font-size: 14px;
		line-height: 40px;
	}

	// ♫
	#spi-my-music::before {
		content: '\e940';
	}

	//  🧭
	#spi-explore::before {
		content: '\e942';
	}

	//  ॱ𝄘
	#spi-playlists::before {
		content: '\e93f';
	}

	//  ☆𝍢
	#spi-recommend::before {
		content: '\e728';
	}

	//  🧩
	#spi-plugins::before {
		content: '\ea86';
	}

	//  ⚙
	#spi-settings::before {
		content: '\e713';
	}
}


lx-playlists .page-content-header{
	button::before{
		font-family: fabric;
		font-size: 14px;
		line-height: 20px;
		margin-right: 5px;
	}
	button#playlist-cover-edit::before{
		content: '\ef77';
		background: #ffffff77;
		padding: 2px;
	}
	button#playlist-play-all::before{
		content: '\e768';
	}
	button#playlist-rename::before{
		content: '\e8ac';
	}
	button#playlist-delete::before{
		content: '\e74d';
	}
}