lx-music-list {
	height: 0;
	overflow: hidden;
	list-style: none;
	counter-reset: playing-list-item;
	transition: none;
	li.music-list-item {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		padding: 8px 10px 8px 0;
		font-size: 14px;
		color: var(--black);
		cursor: pointer;
		transition: all ease 0.2s;
		&:nth-child(odd) {
			background-color: var(--themeLighterAlt);
		}
		&::before {
			flex: 0 0 30px;
			font-size: 8px;
			color: var(--neutralPrimaryAlt);
			text-align: center;
			content: counter(playing-list-item);
			counter-increment: playing-list-item;
			opacity: 0;
			transition: all ease 0.3s;
		}
		span {
			flex: 1 1 75px;
			margin-right: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		span.music-list-item-songName {
			flex: 12 12 100px;
		}
	}

	.music-cmd-button{
		font-family: fabric;
		border: none;
		display: inline;
		line-height: 1;
		margin-left: 8px;
		background: transparent;
		color: var(--neutralDark);
		opacity: 0;
	}


	li.music-list-item:hover {
		color: var(--neutralPrimary);
		background-color: var(--themeLighter);
		&::before {
			opacity: 1;
		}
		.music-cmd-button{
			opacity: 1;
		}
	}
}
