#playing-list-trigger {
  flex: 0 0 16px;
}

#play-mode {
  position: relative;
  flex: 0 0 16px;
  user-select: none;
}
#play-mode ul#play-mode-selector-container {
  position: absolute;
  top: -220px;
  left: -300%;
  box-sizing: border-box;
  width: max-content;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  color: var(--neutralPrimary);
  list-style: none;
  background-color: var(--white);
  box-shadow: 0 1.2px 14.4px 0 rgba(0, 0, 0, 0.13), 0 6.4px 3.6px 0 rgba(0, 0, 0, 0.11);
  transform: translateY(50px);
}
#play-mode ul#play-mode-selector-container li.play-mode {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 0 15px;
  line-height: 36px;
  transition: all ease 0.2s;
  cursor: pointer;
}
#play-mode ul#play-mode-selector-container li.play-mode:hover {
  background-color: var(--neutralQuaternary);
}
#play-mode ul#play-mode-selector-container li.play-mode::before {
  position: relative;
  top: 4px;
  margin-right: 5px;
  color: var(--themePrimary);
}
#play-mode ul#play-mode-selector-container::after {
  position: absolute;
  bottom: -9px;
  left: calc(50% - 7px);
  width: 20px;
  height: 20px;
  clip-path: polygon(0 100%, 100% 0, 200% 0, 200% 200%, 0 200%);
  content: "";
  background-color: var(--white);
  box-shadow: 4.5px 4px 3.6px 0 rgba(0, 0, 0, 0.11);
  transform: rotate(45deg);
}
#play-mode ul#play-mode-selector-container[visible=true] {
  top: -240px;
  height: max-content;
  padding: 5px 0;
  overflow: visible;
  transform: translateY(0%);
}

#volume {
  display: flex;
  flex: 0 1 200px;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
}
#volume #volume-slider-container {
  top: -4px;
  position: relative;
  transition: 0.3s ease all;
}
#volume input#volume-slider {
  position: relative;
  top: -2px;
  width: 90%;
  margin-left: 5px;
  transition: 0.3s ease all;
  appearance: none;
}
#volume input#volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: linear-gradient(90deg, var(--themePrimary) var(--present), var(--present), var(--themeLight) 100%);
}
#volume input#volume-slider::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: linear-gradient(90deg, var(--themePrimary) var(--present), var(--present), var(--themeLight) 100%);
}
#volume input#volume-slider::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: linear-gradient(90deg, var(--themePrimary) var(--present), var(--present), var(--themeLight) 100%);
}
#volume input#volume-slider::-webkit-slider-thumb {
  width: 5px;
  height: 14px;
  margin-top: -5px;
  cursor: pointer;
  background: var(--themePrimary);
  border: 1px solid var(--white);
  border-radius: 0;
  appearance: none;
}
#volume input#volume-slider::-moz-range-thumb {
  width: 5px;
  height: 14px;
  margin-top: -5px;
  cursor: pointer;
  background: var(--themePrimary);
  border: 1px solid var(--white);
  border-radius: 0;
  appearance: none;
}
#volume input#volume-slider::-ms-thumb {
  width: 5px;
  height: 14px;
  margin-top: -5px;
  cursor: pointer;
  background: var(--themePrimary);
  border: 1px solid var(--white);
  border-radius: 0;
  appearance: none;
}

@media screen and (max-width: 768px) {
  lx-player[lyric-mode=false] #volume {
    width: min-content;
  }
  lx-player[lyric-mode=false] #volume-slider-container {
    position: absolute !important;
    transform: rotateZ(-90deg) translate(35px, -64px) scaleX(95%);
    height: max-content;
    width: 0;
    padding: 5px 0;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 1.2px 14.4px 0 rgba(0, 0, 0, 0.13), -3.6px 0px 3.6px 0 rgba(0, 0, 0, 0.11);
    opacity: 0;
    transition: height ease 0.3s, opacity ease 0.3s, transform ease 0.3s;
  }
  lx-player[lyric-mode=false] #volume-slider-container[visible=true] {
    height: max-content;
    width: max-content;
    padding: 5px 0;
    overflow: visible;
    opacity: 1;
    transform: rotateZ(-90deg) translate(65px, -64px);
  }
  lx-player[lyric-mode=false] #volume-slider-container[visible=true] input#volume-slider {
    top: -4px;
  }
  lx-player[lyric-mode=false] #volume-slider-container[visible=true]::after {
    position: absolute;
    left: -6px;
    top: calc(50% - 5px);
    width: 12px;
    height: 12px;
    clip-path: polygon(-100% -100%, 200% 200%, 200% 300%, -100% 300%, -200% -100%);
    content: "";
    background-color: var(--white);
    box-shadow: 0px 3px 3.6px 0 rgba(0, 0, 0, 0.11);
    transform: rotate(45deg);
  }
}

/*# sourceMappingURL=play-ctrl.css.map */
